* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body > * {
    margin: 40px;
}

a:link,
a:hover,
a:visited,
a:active,
a:focus {
    text-decoration: none;
}

svg {
    fill: white;
    aspect-ratio: 1 / 1;
}

#about {
    background-color: #1F1F1F;
    padding: 20px;
}

.content {
    display: flex;
    gap: 20px;
}

.social {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 20px;
}

.social svg {
    width: 30px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 40px;
}

.project {
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
}

.project img {
    width: 100%;
}

.description {
    padding: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.links svg {
    width: 25px;
}

footer {
    background: #1F1F1F;
}

footer svg {
    width: 20px;
}

footer p {
    /* display: flex;
    align-items: center; */
    gap: 10px;
}