* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a:link,
a:hover,
a:visited,
a:active,
a:focus {
    text-decoration: none;
}

svg {
    fill: white;
    aspect-ratio: 1 / 1;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
}

body > * {
    margin: 10px;
}

#about {
    background-color: #1F1F1F;
    padding: 10px;
}

.content  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.content img {
    width: min(50%, 200px);
}

#about .social {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 10px;
}

.social svg {
    width: 30px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.project {
    padding: 5px;
    border: 2px solid white;
    border-radius: 5px;
}

.project img {
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.links svg {
    width: 25px;
}

.tech-stack {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.tech-stack > svg {
    width: 30px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 40px;
    background-color: #1F1F1F;
}

footer svg {
    width: 20px;
}

footer p {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .social {
    display: flex;
    gap: 20px;
}

footer img {
    width: min(50%, 500px);
}

@media (min-width: 601px) {
    body > * {
        margin: 40px;
    }

    #about {
        padding: 20px;
    }

    .project {
        padding: 10px;
    }

    .description {
        padding: 15px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .projects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1025px) {
    .content {
        flex-direction: row;
    }
    
    .content img,
    footer img {
        width: auto;
    }

    .projects {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    footer {
        flex-direction: row;
        align-items: flex-start;
    }

    footer > * {
        padding: 10px;
    }
}